---
import Layout from "../../layouts/Layout.astro";

import Footer from "../../components/Footer.astro";
import Contact from "../../components/Contact.astro";
import Header from "../../components/Header.astro";
import Presentation from "../../components/Presentation.astro";
import Projects from "../../components/Projects.astro";
import Skills from "../../components/Skills.astro";

import pageScript from "/js/indexPageScript.js?url";

import es from "../../translations/es.json";
---

<Layout lang="es" textMeta={es}>
  <header>
    <Header textHeader={es} />
  </header>
  <main>
    <section id="presentacion">
      <Presentation textPresentation={es} />
    </section>
    <section id="proyectos">
      <Projects textProjects={es} />
    </section>

    <section id="habilidades">
      <Skills textSkills={es} />
    </section>
    <section id="contacto">
      <Contact textContact={es} />
    </section>
  </main>
  <footer>
    <Footer textFooter={es} />
  </footer>
</Layout>

<script type="module" src={pageScript}></script>
